@model UserViewModel
@using HawkBlog.Models

@{
    Layout = "_DashLayout";
    ViewData["Title"] = "New User";
}

<h2>Add User</h2>
<form asp-action="Create" role="form">
    <div class="row">
        <div class="col-md-6">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span><br />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span><br />
    </div>
    <div class="row">
        <div class="col-md-6">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" /><br />
        </div>
        <div class="col-md-6">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" /><br />
        </div>
    </div>

    <div class="form-group">
        <h4>Roles</h4>
        @foreach (var item in Model.ApplicationRoles)
        {
            <input type="checkbox" name="SelectedRole" value="@item.Value" class="checkbox-inline" />
            <label>@item.Text</label>
        }
    </div>


    <a asp-action="Index" class="btn btn-danger"><i class="fas fa-arrow-left"></i> Cancel</a>
    <button class="btn btn-success" type="submit"><i class="fas fa-check"></i> Create User</button>
</form>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('#userManLink').addClass('active');
        });
    </script>
}
