@model EditUserViewModel
@using HawkBlog.Models

@{
    Layout = "_DashLayout";
    ViewData["Title"] = "Edit User";
}

<h2>Edit User</h2>

<form asp-action="Edit">
    <div class="row">
        <div class="col-md-6">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span><br />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span><br />
    </div>

    <div class="form-group">
        <h4>Roles</h4>
        @foreach (var item in Model.ApplicationRoles)
        {
            <input type="checkbox" name="SelectedRole" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
            <label>@item.Text</label>
        }
    </div>
    <div class="form-group">
        <a asp-action="Index" class="btn btn-danger"><i class="fas fa-arrow-left"></i> Cancel</a>
        <button class="btn btn-success" type="submit"><i class="far fa-save"></i> Save</button>
    </div>
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#userManLink').addClass('active');
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}