<aside class="col-sm-3 ml-sm-auto blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>About your blog here.</p>
    </div>
    <div class="sidebar-module">
        @await Html.PartialAsync("_CatList")
    </div>
    <div class="sidebar-module">
        <h4>Social</h4>
        <ol class="list-unstyled">
            <li><a href="https://github.com/mitchhawks/HawkBlog">GitHub</a></li>
        </ol>
    </div>
</aside><!-- /.blog-sidebar -->