@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var currentUser = await UserManager.GetUserAsync(User);
    string userName = currentUser.UserName;
    ViewData["Title"] = "Dashboard";
    Layout = "_DashLayout";
}

<h1>Dashboard</h1>
<p>Hello, @userName!</p>

<section class="row text-center placeholders">
    <div class="col-6 col-sm-3 placeholder center">
        <img src="~/images/dash/profile.jpg" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <a asp-action="Index" asp-controller="Manage"><h4>Profile</h4></a>
        <span class="text-muted">View/edit your profile</span>
    </div>
    <div class="col-6 col-sm-3 placeholder center">
        <img src="~/images/dash/newpost.jpg" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <a asp-action="Index" asp-controller="BlogAdmin"><h4>Post</h4></a>
        <div class="text-muted">Manage Posts</div>
    </div>
    <div class="col-6 col-sm-3 placeholder center">
        <img src="~/images/dash/profile.jpg" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <a asp-action="Index" asp-controller="Manage"><h4>Profile</h4></a>
        <span class="text-muted">View/edit your profile</span>
    </div>
    <div class="col-6 col-sm-3 placeholder center">
        <img src="~/images/dash/profile.jpg" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Profile</h4>
        <span class="text-muted">View/edit your profile</span>
    </div>
</section>

