<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a id="dashHomeLink" class="nav-link" asp-controller="Dashboard" asp-action="Index"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
            <a id="profileLink" class="nav-link" asp-controller="Manage" asp-action="Index"><i class="fas fa-user-cog"></i> Profile</a>
        </li>
    </ul>

    @if (User.IsInRole("Admin"))
    {
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a id="siteSettingsLink" class="nav-link" asp-controller="Dashboard" asp-action="Settings"><i class="fas fa-sliders-h"></i> Site Settings</a>
            </li>
            <li class="nav-item">
                <a id="postHomeLink" class="nav-link" asp-controller="BlogAdmin" asp-action="PostIndex"><i class="fas fa-newspaper"></i> Manage Posts</a>
            </li>
            <li class="nav-item">
                <a id="catHomeLink" class="nav-link" asp-controller="BlogAdmin" asp-action="CatIndex"><i class="far fa-calendar-alt"></i> Manage Categories</a>
            </li>
            <li class="nav-item">
                <a id="userManLink" class="nav-link" asp-action="Index" asp-controller="UserAdmin"><i class="fas fa-users-cog"></i> Manage Users</a>
            </li>
            <li class="nav-item">
                <a id="roleManLink" class="nav-link" asp-action="Index" asp-controller="RoleAdmin"><i class="fab fa-keycdn"></i> Manage Roles</a>
            </li>
        </ul>
    }
</nav>