<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; @DateTime.Now.Year HawkBlog | <a href="https://github.com/mitchhawks/HawkBlog">Github</a></span>
    </div>
</footer>