<!DOCTYPE html>
<html>
@await Html.PartialAsync("_HeadPartial")
<body>
    @await Html.PartialAsync("_NavPartial")

    <main role="main" class="container">
        @RenderBody()
    </main>

    @await Html.PartialAsync("_FooterPartial")

    @await Html.PartialAsync("_FootPartial")

    @RenderSection("Scripts", required: false)
    <script>
        $("#logClick").click(function () {
            $("form#logoutForm").submit();
        });
    </script>
</body>
</html>
